/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


body {
  font-family: 'Montserrat', 'Lucida Sans Regular', sans-serif;
  background-color: rgb(236, 240, 225, 0.9);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: 'CircularStd', 'ui-sans-serif', 'system-ui', 'sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #A1706B;
}

h5 {
  font-weight: bold;
}

.navbar {
  background-color: rgb(42, 72, 58, 0.8);
}

.navbar .navbar-brand {
  color:rgb(207, 209, 196);
  font-family: 'Amaranth', serif;
  font-weight: bold;
}

.navbar .navbar-brand:hover {
  color: #c5c7c9;
}

.navbar-text a {
  color: #cacccf;
}

.navbar-text a:hover {
  color: #e3e6e8;
}

.carousel-image {
  height: 400px; /* Set a fixed height for all carousel images */
  margin: auto;
  padding: 10px;
  object-fit: cover; /* Ensure the image covers the container without stretching */
}

.slogan-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0;
}

.slogan{
  font-family: 'CircularStd', 'ui-sans-serif', 'system-ui', 'sans-serif';
}

.my-button {
  background-color: #dea72f;
  color:white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.my-button:hover {
  background-color: #eccc60;
  color: black;
}

.form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto; /* Full viewport height */
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-card .form {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width of the form */
}

.search-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.form-weight{
  width:400px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #e5ebef;
  background-color: #fff;
  border-color: none;
}

.nav-tabs {
  border-bottom: none;
  color: #C1CCC7;
}

.nav-tabs .nav-link:hover{
  color: gray
}

.nav-link{
  color: #e1e7ec;
}

/* .navbar-brand{
  font-family: 'Amaranth', serif;
} */